*.pth.tar
*.pyc

pretrained/*
checkpoints/*
nohup.*
runs/*
logs/*
.hopemeta
driver.hope*
.DS_Store
*.pkl
.idea
resources/*
tempCodeRunnerFile.py

__pycache__/
*/__pycache__
**/__pycache__

*.tar.gz
*.tar
*.rar
*.pytest_cache

result/
app/test.ipynb
app/ibeta.ipynb

detect_face_report.txt
fil-result/
liveness_report.txt
memory_profile_report.txt